@import "styles/variables.scss";

@font-face {
	font-family: proximaNova;
	src: url("styles/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: proximaNova-Semibold;
	src: url("styles/fonts/ProximaNova-Semibold.otf");
}

* {
	margin: 0;
	font-family: proximaNova;
}

h1 {
	font-size: $h1;
	font-family: proximaNova-Semibold;

}

h2 {
	font-size: $h2;
	font-family: proximaNova-Semibold;
}

h4 {
	font-size: $h4;
}

