@import "styles/variables.scss";

@font-face {
	font-family: proximaNova;
	src: url("styles/fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: proximaNova-Semibold;
	src: url("styles/fonts/ProximaNova-Semibold.otf");
}

* {
	margin: 0;
	font-family: proximaNova;
}

h1 {
	font-size: $h1;
	font-family: proximaNova-Semibold;
	color: $darkGrey;
}

h2 {
	font-size: $h2;
	font-family: proximaNova-Semibold;
	color: $darkGrey;

}

h3 {
	font-size: $h3;
	font-family: proximaNova-Semibold;
	color: $darkGrey;
}

h4 {
	font-size: $h4;
}

p {
	font-size: 18px;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: $blue;

	&:hover {
		color: $orange;
	}
}

.btn {
	padding: 10px 15px;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
	transition: 0.25s;
	text-decoration: none;

	&:hover {
		transform: translateY(-2px);
		filter: brightness(110%);
	}
}

.btn--orange {
	@extend .btn;

	background-color: $orange;
	color: $white;
}

.btn--white {
	@extend .btn;

	background-color: $white;
	color: $orange;

}
