@import "styles/variables.scss";

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%
}

.titleContainer {
	max-width: 570px;
	text-align: center;
	padding: 0 10px;
}

.title {
	margin-bottom: 10px;
}

.subTitle {
	margin-bottom: 20px;
	line-height: 30px;
}

.imgContainer {
	margin-bottom: 50px;
}

.img {
	width: 40px;
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.modal {
	max-width: 600px;
}

.rickImg {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 25px;
}

.modalWrapper {
	display: grid;
	padding: 0 20px;
}

@media only screen and (min-width: 580px) {
	.itemTitle {
		&:nth-child(even) {
			grid-column: 2;
		}
	}

	.imgWrapper {
		&:nth-child(even) {
			grid-row: 1;
		}
	}

	.imgContainer {
		margin-bottom: 100px;
	}
}